# Azure OpenAI
AZURE_OPENAI_API_KEY1=
AZURE_OPENAI_ENDPOINT1=
AZURE_OPENAI_API_VERSION_AUDIO1=
AZURE_OPENAI_API_VERSION_EMBEDDING1=
AZURE_DEPLOYMENT=

# Azure AI Search
AZURE_SEARCH_ENDPOINT1=
AZURE_SEARCH_ADMIN_KEY1=
AZURE_SEARCH_INDEX_NAME1=audio_index
AZURE_SEARCH_INDEX_NAME2=frames_index
AZURE_SEARCH_INDEX_NAME3=gpt_index

# Azure AI Vision
AZURE_AI_VISION_API_KEY=
AZURE_AI_VISION_REGION=
AZURE_AI_VISION_ENDPOINT=

# Paths
IMAGES_DIR=frames
OUTPUT_JSON=output/frameVectors.json
FRAME_DESCRIPTIONS=output/frame_descriptions.jsonl
FRAME_VECTORS=output/frame_descriptions_with_vecs.jsonl

# Second Azure OpenAI resource for GPT-4o in gpt_desc.py
AZURE_OPENAI_API_KEY2=
AZURE_OPENAI_ENDPOINT2=
AZURE_OPENAI_API_VERSION_GPT4O=
AZURE_DEPLOYMENT_GPT4O=
